
- @results.each_with_index do |result, index|
	- if @results.current_page == 1 && index == 0
		= render 'swell_media/articles/post', media: result, args: { class: 'first-post' }
	- else
		= render 'swell_media/articles/post', media: result, args: {}

%nav.navigation.posts-navigation{:role => "navigation"}
	%h2.screen-reader-text Posts navigation
	.nav-links
		- if @results.current_page < @results.total_pages
			.nav-previous
				%a{ :href => swell_media.root_path( page: @results.current_page + 1 ) } Older posts
		- if @results.current_page > 1
			.nav-next
				%a{ :href => swell_media.root_path( page: @results.current_page - 1 ) } Newer posts
/ .navigation
