
%article.post.first-post.format-standard.hentry
	.entry-featured-image
		%img{:alt => "How to make mak-nyuss baked potatoes stick recipes from Deanda", :src => image_path("theme/img/astrif-post-entry-01.jpg")}/
	/ .entry-featured-image
	.entry-area
		.entry-header
			%h2.entry-title
				%a{:href => "single.html", :rel => "bookmark"} How to make mak-nyuss baked potatoes stick recipes from Deanda
			.entry-meta
				%span.posted-on
					%a{:href => "single.html", :rel => "bookmark"}
						%time.entry-date{:datetime => "2016-08-14"} Aug 14, 2016
				/ .posted-on
				%span.entry-cat
					%span.cat-link
						%a{:href => "category.html"} Cook
				/ .entry-cat
				%span.entry-like
					%a{:href => ""}
						%i.fa.fa-heart-o
						172
			/ .entry-meta
		/ .entry-header
		.entry-content
			%p
				A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine...
				%a.more-link{:href => "single.html"}
					%span.moretext Read more
					%span.screen-reader-text How to make mak-nyuss baked potatoes stick recipes from Deanda
				/ .more-link
		/ .entry-content
	/ .entry-area
/ .post
%article.post.format-standard.hentry
	.entry-featured-image
		%img{:alt => "Healthy Breakfast For Cute Girl", :src => image_path("theme/img/astrif-post-entry-02.jpg")}/
	/ .entry-featured-image
	.entry-area
		.entry-header
			%h2.entry-title
				%a{:href => "single.html", :rel => "bookmark"} Healthy Breakfast For Cute Girl
			.entry-meta
				%span.posted-on
					%a{:href => "single.html", :rel => "bookmark"}
						%time.entry-date{:datetime => "2016-10-26"} Okt 26, 2016
				/ .posted-on
				%span.entry-cat
					%span.cat-link
						%a{:href => "category.html"} Food
				/ .entry-cat
				%span.entry-like
					%a{:href => ""}
						%i.fa.fa-heart-o
						15
			/ .entry-meta
		/ .entry-header
		.entry-content
			%p.text-center
				Balancing a composition involves arranging both positive elements and negative space in such a way that no one area of the design overpowers other areas. Everything works together and fits together in a seamless whole...
				%a.more-link{:href => "single.html"}
					%span.moretext Read more
					%span.screen-reader-text Healthy Breakfast For Cute Girl
				/ .more-link
		/ .entry-content
	/ .entry-area
/ .post
%article.post.format-standard.hentry
	.entry-featured-image
		%img{:alt => "Just eat healthy food, for your better life", :src => image_path("theme/img/astrif-post-entry-03.jpg")}/
	/ .entry-featured-image
	.entry-area
		.entry-header
			%h2.entry-title
				%a{:href => "single.html", :rel => "bookmark"} Just eat healthy food, for your better life
			.entry-meta
				%span.posted-on
					%a{:href => "single.html", :rel => "bookmark"}
						%time.entry-date{:datetime => "2016-09-07"} Sept 07, 2016
				/ .posted-on
				%span.entry-cat
					%span.cat-link
						%a{:href => "category.html"} Tips
				/ .entry-cat
				%span.entry-like
					%a{:href => ""}
						%i.fa.fa-heart-o
						42
			/ .entry-meta
		/ .entry-header
		.entry-content
			%p.text-center
				Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows...
				%a.more-link{:href => "single.html"}
					%span.moretext Read more
					%span.screen-reader-text Just eat healthy food, for your better life
				/ .more-link
		/ .entry-content
	/ .entry-area
/ .post
%article.post.format-standard.hentry
	.entry-featured-image
		%img{:alt => "Best beef burger in this city, I had met", :src => image_path("theme/img/astrif-post-entry-04.jpg")}/
	/ .entry-featured-image
	.entry-area
		.entry-header
			%h2.entry-title
				%a{:href => "single.html", :rel => "bookmark"} Best beef burger in this city, I had met
			.entry-meta
				%span.posted-on
					%a{:href => "single.html", :rel => "bookmark"}
						%time.entry-date{:datetime => "2016-08-14"} Aug 14, 2016
				/ .posted-on
				%span.entry-cat
					%span.cat-link
						%a{:href => "category.html"} diary
				/ .entry-cat
				%span.entry-like
					%a{:href => ""}
						%i.fa.fa-heart-o
						5
			/ .entry-meta
		/ .entry-header
		.entry-content
			%p.text-center
				One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly...
				%a.more-link{:href => "single.html"}
					%span.moretext Read more
					%span.screen-reader-text Best beef burger in this city, I had met
				/ .more-link
		/ .entry-content
/ .post
%article.post.format-standard.hentry
	.entry-featured-image
		%img{:alt => "7 sweet hat for hangout that you should know", :src => image_path("theme/img/astrif-post-entry-05.jpg")}/
	/ .entry-featured-image
	.entry-area
		.entry-header
			%h2.entry-title
				%a{:href => "single.html", :rel => "bookmark"} All I need is puff pastry and choco ball
			.entry-meta
				%span.posted-on
					%a{:href => "single.html", :rel => "bookmark"}
						%time.entry-date{:datetime => "2016-08-02"} Aug 02, 2016
				/ .posted-on
				%span.entry-cat
					%span.cat-link
						%a{:href => "category.html"} Dessert
				/ .entry-cat
				%span.entry-like
					%a{:href => ""}
						%i.fa.fa-heart-o
						36
			/ .entry-meta
		/ .entry-header
		.entry-content
			%p.text-center
				But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder...
				%a.more-link{:href => "single.html"}
					%span.moretext Read more
					%span.screen-reader-text All I need is puff pastry and choco ball
				/ .more-link
		/ .entry-content
	/ .entry-area
/ .post
%article.post.format-standard.hentry
	.entry-featured-image
		%img{:alt => "King donut never had a queen", :src => image_path("theme/img/astrif-post-entry-06.jpg")}/
	/ .entry-featured-image
	.entry-area
		.entry-header
			%h2.entry-title
				%a{:href => "single.html", :rel => "bookmark"} King donut never had a queen. Love it!
			.entry-meta
				%span.posted-on
					%a{:href => "single.html", :rel => "bookmark"}
						%time.entry-date{:datetime => "2016-03-11"} March 11, 2016
				/ .posted-on
				%span.entry-cat
					%span.cat-link
						%a{:href => "category.html"} Dessert
				/ .entry-cat
				%span.entry-like
					%a{:href => ""}
						%i.fa.fa-heart-o
						36
			/ .entry-meta
		/ .entry-header
		.entry-content
			%p.text-center
				He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment...
				%a.more-link{:href => "single.html"}
					%span.moretext Read more
					%span.screen-reader-text King donut never had a queen
				/ .more-link
		/ .entry-content
	/ .entry-area
/ .post
%article.post.format-standard.hentry
	.entry-featured-image
		%img{:alt => "Gelato in 'omah gelato' will punch you hard!", :src => image_path("theme/img/astrif-post-entry-07.jpg")}/
	/ .entry-featured-image
	.entry-area
		.entry-header
			%h2.entry-title
				%a{:href => "single.html", :rel => "bookmark"} Gelato in 'omah gelato' will punch you hard!
			.entry-meta
				%span.posted-on
					%a{:href => "single.html", :rel => "bookmark"}
						%time.entry-date{:datetime => "2016-03-11"} January 07, 2016
				/ .posted-on
				%span.entry-cat
					%span.cat-link
						%a{:href => "category.html"} Dessert
				/ .entry-cat
				%span.entry-like
					%a{:href => ""}
						%i.fa.fa-heart-o
						98
			/ .entry-meta
		/ .entry-header
		.entry-content
			%p.text-center
				A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls...
				%a.more-link{:href => "single.html"}
					%span.moretext Read more
					%span.screen-reader-text Gelato in 'omah gelato' will punch you hard!
				/ .more-link
		/ .entry-content
	/ .entry-area
/ .post
%nav.navigation.posts-navigation{:role => "navigation"}
	%h2.screen-reader-text Posts navigation
	.nav-links
		.nav-previous
			%a{:href => "#"} Older posts
		.nav-next
			%a{:href => "#"} Newer posts
/ .navigation
