= javascript_include_tag 'application', "data-turbolinks-track" => true, "data-turbolinks-eval" => false
%script{:async => "", "data-pin-hover" => "true", "data-pin-save" => "true", "data-pin-tall" => "true", :defer => "defer", :src => "//assets.pinterest.com/js/pinit.js"}
= render 'application/analytics'

%script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-585185a63e0832cc", :type => "text/javascript"}