.site-sidebar
	%section.widget.widget_search
		= form_tag main_app.category_path( :all ), method: :get, class: 'search-form' do
			.form-group
				%label.sr-only{:for => "search"} Search
				= text_field_tag :q, '', :placeholder => "Search...", class: 'form-control search-field'
			/ .form-group
			%button.btn.btn-default.search-submit{:type => "submit"}
				%i.fa.fa-search
		/ .search-form
	/ .widget_search
	%section.widget.astrif_widget_about
		%h2.widget-title
			%span About
		.about-author-container
			.author-avatar
				%img{:alt => User.me.full_name, :src => User.me.avatar_url}/
			.author-info
				%p=User.me.bio
			-# .author-signature{:style => "background-image: url('#{image_path("theme/img/astrif-signature.png")}');"}
		/ .about-author-container
	/ .astrif_widget_about
	%section.widget.astrif_widget_follow_me
		%h2.widget-title
			%span Follow me
		.follow-me
			%ul.social-icon.social-icon-color
				%li
					%a.icon-twitter{:href => ""}
						%i.fa.fa-twitter
				%li
					%a.icon-facebook{:href => ""}
						%i.fa.fa-facebook
				%li
					%a.icon-instagram{:href => ""}
						%i.fa.fa-instagram
				%li
					%a.icon-pinterest{:href => ""}
						%i.fa.fa-pinterest
				%li
					%a.icon-youtube{:href => ""}
						%i.fa.fa-youtube-play
		/ .follow-me
	/ .astrif_widget_follow_me
	- if ( popular_media_results = SwellMedia::Article.published.order(score: :desc).limit(5) ).present?
		%section.widget.astrif_widget_popular_entries
			%h2.widget-title
				%span Popular Posts
			%ul
				- popular_media_results.each do |popular_media|
					%li
						%a.popular-entry-thumbnail{:href => popular_media.url}
							%img{:alt => popular_media.title, :src => popular_media.avatar}/
						%span.popular-entry-title
							%a.popular-entry-title-link{:href => popular_media.avatar, :rel => "bookmark"}=popular_media.title
							%span.popular-entry-date=popular_media.publish_at.strftime('%B %e, %Y')
		/ .astrif_widget_popular_entries
	-#
		%section.widget.widget_text
			%h2.widget-title
				%span Advertisement
			.textwidget
				%a{:href => "index.html"}
					%img{:alt => "buy astrif now", :src => image_path("theme/img/astrif-sidebar-banner.jpg")}/
		/ .astrif_widget_text
	%section.widget.widget_recent_entries
		%h2.widget-title
			%span Recent Posts
		%ul
			- SwellMedia::Article.published.order(created_at: :desc).each do |media|
				%li
					%a{:href => media.url}=media.title
					%span.post-date=media.publish_at.strftime('%B %e, %Y')
	/ .widget_recent_entries
	%section.widget.widget_categories
		%h2.widget-title
			%span Categories
		%ul
			- SwellMedia::Category.all.order( slug: :asc ).each do |category|
				%li
					%a{:href => main_app.category_path( category.slug )}=category.name
	/ .widget_categories
	%section.widget.widget_tag_cloud
		%h2.widget-title
			%span Tags
		.tagcloud
			- SwellMedia::Media.tags_cloud{ merge(SwellMedia::Article.published) }.each do |tag,count|
				%a{:href => main_app.category_path( :all, tag: tag ) }
					= tag
					%span=count
	/ .widget_tag_cloud
/ .site-sidebar